---
layout: default
---
<head>
    <script src="https://kit.fontawesome.com/0fe05d7db2.js" crossorigin="anonymous"></script>
    <script async>(function(w, d) { w.CollectId = "5f5e35a0cc65116bf72a9e8f"; var h = d.head || d.getElementsByTagName("head")[0]; var s = d.createElement("script"); s.setAttribute("type", "text/javascript"); s.setAttribute("src", "https://collectcdn.com/launcher.js"); h.appendChild(s); })(window, document);</script>
</head>
<section>
    <h1>{{ page.mainheading}}</h1>
    <br>
    <div class="section-title">
        <h2><span>{{ page.title }}</span></h2>
    </div>

    <div class="article-post">
    {{content}}
    </div>

    {% if page.comments == true %}

    <div id="comments" class="row mb-5">
        <div class="col-md-8">
            {% include disqus.html %}
        </div>
    </div>

    {% endif %}
</section>
